__pycache__/
*.py[cod]
*$py.class
test-results.xml
.pytest_cache/
.coverage

# Terraform ignores
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.rc
terraform.rc
